@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #101010;
  --color-border-grey: #979797;
  --color-grey-dark: #cfcfcf;
  --color-grey: #f1f1f1;
  --color-grey-light: #fafafa;
  --color-orange-dark: #d87d4a;
  --color-orange-light: #fbaf85;
  --color-red: #cd2c2c;
  --color-backdrop: rgba(0, 0, 0, 0.4);
}
